# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/build/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.sass-cache/
.versions/
coverage/
dist/
tmp/
temp/
$RECYCLE.BIN/
UserInterfaceState.xcuserstate
typings/

scripts/resources/web-animations-js/test/
scripts/resources/web-animations-js/inter-*
scripts/resources/web-animations-js/**/*.map
scripts/resources/web-animations-js/**/*.md
scripts/resources/web-animations-js/**/*.sh
scripts/resources/web-animations-js/**/*.yml
scripts/resources/web-animations-js/**/*.gz

.package.tmp.json
.editorconfig
